.task{
    background-color: white;
}
#header{
    margin-top: 20px;
}
#topic{
    margin-top: 20ps;
    text-align: left;
    font-size: 40px;
    font-weight: bolder;
}

#split{
    background-color: black;
    width: auto;
    height: 2px;
}