.task {
    background-color: white;
}

#header {
    margin-top: 20px;
}

#topic {
    margin-top: 20px;
    text-align: left;
    font-size: 30px;
    font-weight: bolder;
}

#split {
    background-color: black;
    width: auto;
    height: 2px;
}