///adjustment for header
#body {
    margin-top: 20px;
}

///adjustment for topic text
#topic {
    color: white;
    margin-top: 20px;
    text-align: left;
    font-size: 30px;
    font-weight: bolder;
}

///the contene divider
#split {
    background-color: white;
    width: auto;
    height: 4px;
    margin-top: 5px;
}

///adjustment for the music plyer div
#music_plyer {
    text-align: center;
    margin-top: 20px;

    //adjustment for the music plyer
    #mp {
        width: 90%;
    }
}


///adjustment for the task card div
#task_card {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;

    ///style for the add task button
    #add_task {
        background: white;
        border: none;
        color: #E56B6F;
        width: 50%;
        height: 30px;
        font-size: 20px;
        font-weight: bold;
        border-radius: 8px;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    #add_task:hover {
        background-color: #C95E55;
        color: white;
    }

    ///style for the text when there is no task
    #emptyList {
        width: 75%;
        text-align: center;
        border-radius: 8px;
        padding: 1%;
        background-color: white;
        color: #E56B6F;
        font-weight: bold;


    }

    ////style for task list ul and li

    ul {
        width: 90%;
        list-style: none;
        margin: 0px;
        display: flex;
        padding: 2%;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    li {
        width: 100%;
        background-color: white;
        list-style: none;
        margin: 0px;
        padding: 2%;
        margin-top: 2%;
        border-radius: 8px;
        max-width: 460px;

        p {
            color: #E56B6F;
            font-weight: bold;
            margin-top: 5px;
            overflow: auto;
        }

        button {
            width: 50%;
            height: 25px;
            background: #f0f8ff;
            border: none;
            color: #E56B6F;
            font-weight: bold;
            border-radius: 8px;
            transition-duration: 0.4s;
            cursor: pointer;
        }

        button:hover {
            background: #C95E55;
            color: #f0f8ff;

        }

    }

}


////set the add task window at the top 
.t_form {
    position: absolute;
    display: block;
    z-index: 99;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    display: flex;
    top: 263px;
    left: 762px;
}

////style for the add task window/form
#task_grid {
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
        width: 300px;
        height: auto;
        background-color: #f0f8ff;
        border-radius: 3%;
        flex-direction: column;
        align-items: flex-start;
        display: flex;
        margin-top: 3%;

        label {
            color: #E56B6F;
            font-size: medium;
            font-weight: bold;
        }

        input {
            width: 50%;
            height: auto;
        }
    }

    ////style for the submit button in the add task button
    button {
        margin-top: 3%;
        margin-bottom: 3%;
        margin-left: 3%;
        width: 60%;
        height: 25px;
        background: white;
        border: none;
        color: #E56B6F;
        font-weight: bold;
        border-radius: 8px;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    button:hover {
        background: #C95E55;
        color: white;
    }

}




///the style of the reading list div

#reading_card {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;

    #reading_content {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        width: 90%;

        form {
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
        }

        #readInput {
            width: 80%;
            height: 28px;
            border-radius: 8px;
            border: none;

        }

        #reading_submit {
            margin-left: 2%;
            width: 25%;
            height: 30px;
            background: white;
            border: none;
            color: #E56B6F;
            font-weight: bold;
            border-radius: 8px;
            transition-duration: 0.4s;
            cursor: pointer;
        }

        #reading_submit:hover {
            background: #C95E55;
            color: white;
        }

        #open_all {
            margin-left: 2%;
            width: 25%;
            height: 30px;
            background: white;
            border: none;
            color: #E56B6F;
            font-weight: bold;
            border-radius: 8px;
            transition-duration: 0.4s;
            cursor: pointer;
        }

        #open_all:hover {
            background: #C95E55;
            color: white;
        }
        //stule for the read display
        #displayReading {

            width: 100%;
            margin-top: 2%;
            display: flex;
            flex-direction: column;
            align-items: center;

            ///style for the text when there is no task
            #readingEmptyList {
                width: 85%;
                font-weight: bold;
                margin: 0;
                padding: 1%;
                background-color: white;
                color: #E56B6F;
                text-align: center;
                border-radius: 8px;

            }

            ul {
                width: 90%;
                list-style: none;
                margin: 0px;
                display: flex;
                padding: 2%;
                flex-direction: column;
                flex-wrap: nowrap;
            }

            li {
                width: 100%;
                background-color: white;
                list-style: none;
                margin: 0px;
                padding: 2%;
                margin-top: 2%;
                border-radius: 8px;

                p {
                    color: #E56B6F;
                    font-weight: bold;
                    margin-top: 5px;
                    overflow: auto;
                }

                button {
                    width: 50%;
                    height: 25px;
                    background: #f0f8ff;
                    border: none;
                    color: #E56B6F;
                    font-weight: bold;
                    border-radius: 8px;
                    transition-duration: 0.4s;
                    cursor: pointer;
                }

                button:hover {
                    background: #C95E55;
                    color: #f0f8ff;

                }
            }
        }
    }
}